<p>In mathematics, the <a href="https://en.wikipedia.org/wiki/Sieve_of_Eratosthenes">sieve of Eratosthenes</a> is an ancient algorithm for finding all prime numbers up to any given limit.</p>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            
        </div>
        <div class="col-md-4">
            <div class="input-group col-md-12 mb-3">        
                <input type="text" class="form-control" id="limittxt" [(ngModel)]="Limittxt" placeholder="Enter Limit eg. 1000" />
                <button type="button" class="btn btn-outline-primary" (click)="processLimit()">Submit</button>
            </div>
        </div>
        <div class="col-md-4">

        </div>
    </div>          
</div>


